[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ciTools"]
	path = ciTools
	url = https://github.com/jthaman/citools
[submodule "energyGOF"]
	path = energyGOF
	url = https://github.com/jthaman/energygof
